Source/indigoCardIssuingApplication/Veneka.Indigo.Notifications/Connected Services/smsservice/AccountEnquiry_1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="AccessBankRwanda.RIBMiddleWare.AccountEnquiry" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="AccessBankRwanda.RIBMiddleWare.AccountEnquiry" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="AccessBankRwanda.RIBMiddleWare.AccountEnquiry">
      <s:element name="sendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendSMSResult" type="tns:SMSInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SMSInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="ticketId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IbankSingleDirectCreditFundsTransfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iBankReq" type="tns:IBankRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IBankRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="destinationBankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="narration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originatorAcctNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="paymentReference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IbankSingleDirectCreditFundsTransferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IbankSingleDirectCreditFundsTransferResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendTransfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromAccType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toAccType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sAmt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecureKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendTransferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendTransferResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccountSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACCTSNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccountSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAccountSummaryResult" type="tns:CustomerAcctsInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerAcctsInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="acctsumm" type="tns:ArrayOfCustomerAccts" />
          <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCustomerAccts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomerAccts" nillable="true" type="tns:CustomerAccts" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerAccts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dAUE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="oDLimit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountcurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountproduct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountstatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountHold" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="availabletowithdraw" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clearedBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="closingBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lodgements" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="netbalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noofLodgements" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noofWithdrawals" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="openingBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalbalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unclearedBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="withdrawals" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flgstaff" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flgempacct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hasCOT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hasIMAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountProductCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountCurrencyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getCustomerAcctsDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACCTSNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomerAcctsDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCustomerAcctsDetailResult" type="tns:CustomerAcctsDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerAcctsDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="accountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bookBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="availableBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unavailableBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountHold" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strAdd1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strAdd2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strAdd3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currencyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="staff" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountOfficer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="profitCenter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountCreditMTD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountCreditYTD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountDebitMTD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountDebitYTD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountLastCredit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountLastDebit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastDebitDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastCreditDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="aTMStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dateOpened" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interestPaidYTD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interestReceivedYTD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastCreditInterestAccrued" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastDebitInterestAccrued" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastMaintainedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastSerialofCheque" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastUsedChequeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="maintenanceAuthorizedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serviceChargeYTD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="taxAccrued" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="oDLimit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditTurnOver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountDebitToday" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountCreditToday" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UtilAmt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RevisionDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LimitCCY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OverallLimit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JointAcctIndicator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AtmFacility" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BlockedStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoCreditStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoDebitStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StopPayStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChequeBookFacility" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currentBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAccountSummaryByCustomerID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccountSummaryByCustomerIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAccountSummaryByCustomerIDResult" type="tns:CustomerAcctsInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTermDepositByCustomerID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTermDepositByCustomerIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTermDepositByCustomerIDResult" type="tns:TermDepositDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TermDepositDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="termdepositsList" type="tns:ArrayOfTermdeposits" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTermdeposits">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="termdeposits" nillable="true" type="tns:termdeposits" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="termdeposits">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="account_num" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="booking_Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="booking_Serial_No" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currency_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="principal_amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tenor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="effective_Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interest_Rate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="maturity_Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branch_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branch_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="blocked" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interest_paid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lien_amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="payment_stopped" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="penalty_amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="withdrawal_amount_sum" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAccountSummaryANDTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACCTNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STARTDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccountSummaryANDTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAccountSummaryANDTransactionsResult" type="tns:CustomerAcctsWithTransactionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerAcctsWithTransactionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="acctsumm" type="tns:ArrayOfCustomerAcctsWithTransactions" />
          <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCustomerAcctsWithTransactions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomerAcctsWithTransactions" nillable="true" type="tns:CustomerAcctsWithTransactions" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerAcctsWithTransactions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dAUE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="oDLimit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountcurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountproduct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountstatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountHold" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="availabletowithdraw" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clearedBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="closingBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lodgements" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="netbalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noofLodgements" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noofWithdrawals" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="openingBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalbalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unclearedBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="withdrawals" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flgstaff" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flgempacct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hasCOT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hasIMAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountProductCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountCurrencyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tranDetails" type="tns:ArrayOfTranDetails" />
          <s:element minOccurs="0" maxOccurs="1" name="branchName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerAddress3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchAddress3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerAddressZip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTranDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TranDetails" nillable="true" type="tns:TranDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TranDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lodgement" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="refNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valueDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="withdraw" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xrownumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xybalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getLoanInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoanInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoanInfoResult" type="tns:LoanInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoanInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loanListArrays" type="tns:ArrayOfLoanListArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLoanListArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="loanListArray" nillable="true" type="tns:loanListArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="loanListArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoanType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currencyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interest" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loanReferenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="principal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="installmentFrequency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="installmentStartDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numberOfInstallments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="repaymentMode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tenor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interestOustandingAfterLastPayment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interestOustandingBeforeLastPayment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interestrate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastPaymentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="maturityDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bookingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valueDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InterestAccruedTillDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InterestPaidTillDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InterestOutstandingTillDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="principalOutstandingBalance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loanRepaymentsArray" type="tns:ArrayOfLoanRepaymentsArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLoanRepaymentsArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="loanRepaymentsArray" nillable="true" type="tns:loanRepaymentsArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="loanRepaymentsArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="installmentActualDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="installmentDueAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="installmentDueDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interestDueAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loanReferenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="principalDueAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="principalOutstandingBeforePayment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interestActualAmountPaid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interestOustandingBeforePayment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="principalActualAmountPaid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalOustandingBeforePayment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interestOustandingAfterPayment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="principalOustandingAfterPayment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalActualAmountPaid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalOustandingAfterPayment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getCurrencyRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCurrencyRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCurrencyRateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomerDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomerDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCustomerDetailsResult" type="tns:ClientDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nationalityID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="custType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="maillingAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="permanentAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="custNationality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="custPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="custFax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="custEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="datCustOpen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flgCustType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="maritalStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="spouseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dateOfBirth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="businessRegNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="businessCategory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dateIncoporated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="director1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="director2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="director3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="director4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="director5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signatory1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signatory2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signatory3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signatory4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signatory5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mISCODE1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mISCODE2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mISCODE3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mISCODE4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mISCODE5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mISCODE6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mISCODE7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mISCODE8" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mISCODE9" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mISCODE10" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Classification" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DefaultMedia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExposureCategory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExposureCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Frozen" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getCustomerDetailsByAccountNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomerDetailsByAccountNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCustomerDetailsByAccountNumberResult" type="tns:ClientDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSingleTransactionDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACCTNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RowId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSingleTransactionDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSingleTransactionDetailsResult" type="tns:SingleTransactionDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SingleTransactionDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="rowID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referenceNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="datePost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionDateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="trnasactionDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valueDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="messageTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="batchNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionOfficerAuthorizer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionOfficerInputter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="controlBatchNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionNameDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LCYAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FCYAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExchangeRate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
        </s:sequence>
      </s:complexType>
      <s:element name="getBranches">
        <s:complexType />
      </s:element>
      <s:element name="getBranchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBranchesResult" type="tns:BranchInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BranchInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="branches" type="tns:ArrayOfBranch" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBranch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Branch" nillable="true" type="tns:Branch" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Branch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
        </s:sequence>
      </s:complexType>
      <s:element name="getCurrencyRates">
        <s:complexType />
      </s:element>
      <s:element name="getCurrencyRatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCurrencyRatesResult" type="tns:CurrencyRateInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CurrencyRateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="exchangeRates" type="tns:ArrayOfCurrencyRate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCurrencyRate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CurrencyRate" nillable="true" type="tns:CurrencyRate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CurrencyRate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Currency1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MidRate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuySpread" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleSpread" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuyRate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleRate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RateType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateCheque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChequeNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Beneficiary" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateChequeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateChequeResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="processChequeBookRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acctNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="breakFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dispatchBranch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="initBranch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="leaveNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="processChequeBookRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processChequeBookRequestResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="processStopChequeRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acctNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chqNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stopReason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="processStopChequeRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processStopChequeRequestResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="processStandingInstruction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="srcAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destAccount" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="charge" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beneficiaryName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addressOne" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addressTwo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addressThree" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addressCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addressState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addressCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="failReason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frequency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="narration" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="priority" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="processStandingInstructionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processStandingInstructionResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBankInfo">
        <s:complexType />
      </s:element>
      <s:element name="getBankInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBankInfoResult" type="tns:BankInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BankInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="banks" type="tns:ArrayOfBank" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBank">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Bank" nillable="true" type="tns:Bank" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Bank">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RTGSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SWIFTCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="doInterTransfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="originatorAccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originatorAcctNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chargeAcctNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beneficiaryName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beneficiaryAcctNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beneficiaryAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beneficiaryBankName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beneficiaryBankAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beneficiaryBankSortCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beneficiaryBankSWIFTCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="narration" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doInterTransferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doInterTransferResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateVirtualToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TokenKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateVirtualTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validateVirtualTokenResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generateVirtualToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generateVirtualTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generateVirtualTokenResult" type="tns:TokenInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TokenInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getBillPaymentCompanies">
        <s:complexType />
      </s:element>
      <s:element name="getBillPaymentCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBillPaymentCompaniesResult" type="tns:BillPaymentCompanyInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BillPaymentCompanyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="companies" type="tns:ArrayOfBillPaymentCompany" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBillPaymentCompany">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BillPaymentCompany" nillable="true" type="tns:BillPaymentCompany" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillPaymentCompany">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getBillTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_CompanyId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBillTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBillTypesResult" type="tns:BillTypeInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BillTypeInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="billPaymentTypes" type="tns:ArrayOfBillPaymentType" />
          <s:element minOccurs="0" maxOccurs="1" name="companyId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBillPaymentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BillPaymentType" nillable="true" type="tns:BillPaymentType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillPaymentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="typeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="typeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="payBillRW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillTypeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sAmount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="payBillRWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="payBillRWResult" type="tns:BillPaymentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BillPaymentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:sendSMS" />
  </wsdl:message>
  <wsdl:message name="sendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:sendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IbankSingleDirectCreditFundsTransferSoapIn">
    <wsdl:part name="parameters" element="tns:IbankSingleDirectCreditFundsTransfer" />
  </wsdl:message>
  <wsdl:message name="IbankSingleDirectCreditFundsTransferSoapOut">
    <wsdl:part name="parameters" element="tns:IbankSingleDirectCreditFundsTransferResponse" />
  </wsdl:message>
  <wsdl:message name="sendTransferSoapIn">
    <wsdl:part name="parameters" element="tns:sendTransfer" />
  </wsdl:message>
  <wsdl:message name="sendTransferSoapOut">
    <wsdl:part name="parameters" element="tns:sendTransferResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountSummarySoapIn">
    <wsdl:part name="parameters" element="tns:getAccountSummary" />
  </wsdl:message>
  <wsdl:message name="getAccountSummarySoapOut">
    <wsdl:part name="parameters" element="tns:getAccountSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="getCustomerAcctsDetailSoapIn">
    <wsdl:part name="parameters" element="tns:getCustomerAcctsDetail" />
  </wsdl:message>
  <wsdl:message name="getCustomerAcctsDetailSoapOut">
    <wsdl:part name="parameters" element="tns:getCustomerAcctsDetailResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountSummaryByCustomerIDSoapIn">
    <wsdl:part name="parameters" element="tns:getAccountSummaryByCustomerID" />
  </wsdl:message>
  <wsdl:message name="getAccountSummaryByCustomerIDSoapOut">
    <wsdl:part name="parameters" element="tns:getAccountSummaryByCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="getTermDepositByCustomerIDSoapIn">
    <wsdl:part name="parameters" element="tns:getTermDepositByCustomerID" />
  </wsdl:message>
  <wsdl:message name="getTermDepositByCustomerIDSoapOut">
    <wsdl:part name="parameters" element="tns:getTermDepositByCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountSummaryANDTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:getAccountSummaryANDTransactions" />
  </wsdl:message>
  <wsdl:message name="getAccountSummaryANDTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:getAccountSummaryANDTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="getLoanInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getLoanInfo" />
  </wsdl:message>
  <wsdl:message name="getLoanInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getLoanInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getCurrencyRateSoapIn">
    <wsdl:part name="parameters" element="tns:getCurrencyRate" />
  </wsdl:message>
  <wsdl:message name="getCurrencyRateSoapOut">
    <wsdl:part name="parameters" element="tns:getCurrencyRateResponse" />
  </wsdl:message>
  <wsdl:message name="getCustomerDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="getCustomerDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getCustomerDetailsByAccountNumberSoapIn">
    <wsdl:part name="parameters" element="tns:getCustomerDetailsByAccountNumber" />
  </wsdl:message>
  <wsdl:message name="getCustomerDetailsByAccountNumberSoapOut">
    <wsdl:part name="parameters" element="tns:getCustomerDetailsByAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="getSingleTransactionDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getSingleTransactionDetails" />
  </wsdl:message>
  <wsdl:message name="getSingleTransactionDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getSingleTransactionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getBranchesSoapIn">
    <wsdl:part name="parameters" element="tns:getBranches" />
  </wsdl:message>
  <wsdl:message name="getBranchesSoapOut">
    <wsdl:part name="parameters" element="tns:getBranchesResponse" />
  </wsdl:message>
  <wsdl:message name="getCurrencyRatesSoapIn">
    <wsdl:part name="parameters" element="tns:getCurrencyRates" />
  </wsdl:message>
  <wsdl:message name="getCurrencyRatesSoapOut">
    <wsdl:part name="parameters" element="tns:getCurrencyRatesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateChequeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCheque" />
  </wsdl:message>
  <wsdl:message name="UpdateChequeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateChequeResponse" />
  </wsdl:message>
  <wsdl:message name="processChequeBookRequestSoapIn">
    <wsdl:part name="parameters" element="tns:processChequeBookRequest" />
  </wsdl:message>
  <wsdl:message name="processChequeBookRequestSoapOut">
    <wsdl:part name="parameters" element="tns:processChequeBookRequestResponse" />
  </wsdl:message>
  <wsdl:message name="processStopChequeRequestSoapIn">
    <wsdl:part name="parameters" element="tns:processStopChequeRequest" />
  </wsdl:message>
  <wsdl:message name="processStopChequeRequestSoapOut">
    <wsdl:part name="parameters" element="tns:processStopChequeRequestResponse" />
  </wsdl:message>
  <wsdl:message name="processStandingInstructionSoapIn">
    <wsdl:part name="parameters" element="tns:processStandingInstruction" />
  </wsdl:message>
  <wsdl:message name="processStandingInstructionSoapOut">
    <wsdl:part name="parameters" element="tns:processStandingInstructionResponse" />
  </wsdl:message>
  <wsdl:message name="getBankInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getBankInfo" />
  </wsdl:message>
  <wsdl:message name="getBankInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getBankInfoResponse" />
  </wsdl:message>
  <wsdl:message name="doInterTransferSoapIn">
    <wsdl:part name="parameters" element="tns:doInterTransfer" />
  </wsdl:message>
  <wsdl:message name="doInterTransferSoapOut">
    <wsdl:part name="parameters" element="tns:doInterTransferResponse" />
  </wsdl:message>
  <wsdl:message name="validateVirtualTokenSoapIn">
    <wsdl:part name="parameters" element="tns:validateVirtualToken" />
  </wsdl:message>
  <wsdl:message name="validateVirtualTokenSoapOut">
    <wsdl:part name="parameters" element="tns:validateVirtualTokenResponse" />
  </wsdl:message>
  <wsdl:message name="generateVirtualTokenSoapIn">
    <wsdl:part name="parameters" element="tns:generateVirtualToken" />
  </wsdl:message>
  <wsdl:message name="generateVirtualTokenSoapOut">
    <wsdl:part name="parameters" element="tns:generateVirtualTokenResponse" />
  </wsdl:message>
  <wsdl:message name="getBillPaymentCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:getBillPaymentCompanies" />
  </wsdl:message>
  <wsdl:message name="getBillPaymentCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:getBillPaymentCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="getBillTypesSoapIn">
    <wsdl:part name="parameters" element="tns:getBillTypes" />
  </wsdl:message>
  <wsdl:message name="getBillTypesSoapOut">
    <wsdl:part name="parameters" element="tns:getBillTypesResponse" />
  </wsdl:message>
  <wsdl:message name="payBillRWSoapIn">
    <wsdl:part name="parameters" element="tns:payBillRW" />
  </wsdl:message>
  <wsdl:message name="payBillRWSoapOut">
    <wsdl:part name="parameters" element="tns:payBillRWResponse" />
  </wsdl:message>
  <wsdl:portType name="RIBMiddleWare_x0020_-_x0020_Account_x0020_EnquirySoap">
    <wsdl:operation name="sendSMS">
      <wsdl:input message="tns:sendSMSSoapIn" />
      <wsdl:output message="tns:sendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IbankSingleDirectCreditFundsTransfer">
      <wsdl:input message="tns:IbankSingleDirectCreditFundsTransferSoapIn" />
      <wsdl:output message="tns:IbankSingleDirectCreditFundsTransferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendTransfer">
      <wsdl:input message="tns:sendTransferSoapIn" />
      <wsdl:output message="tns:sendTransferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAccountSummary">
      <wsdl:input message="tns:getAccountSummarySoapIn" />
      <wsdl:output message="tns:getAccountSummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerAcctsDetail">
      <wsdl:input message="tns:getCustomerAcctsDetailSoapIn" />
      <wsdl:output message="tns:getCustomerAcctsDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAccountSummaryByCustomerID">
      <wsdl:input message="tns:getAccountSummaryByCustomerIDSoapIn" />
      <wsdl:output message="tns:getAccountSummaryByCustomerIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTermDepositByCustomerID">
      <wsdl:input message="tns:getTermDepositByCustomerIDSoapIn" />
      <wsdl:output message="tns:getTermDepositByCustomerIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAccountSummaryANDTransactions">
      <wsdl:input message="tns:getAccountSummaryANDTransactionsSoapIn" />
      <wsdl:output message="tns:getAccountSummaryANDTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLoanInfo">
      <wsdl:input message="tns:getLoanInfoSoapIn" />
      <wsdl:output message="tns:getLoanInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCurrencyRate">
      <wsdl:input message="tns:getCurrencyRateSoapIn" />
      <wsdl:output message="tns:getCurrencyRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetails">
      <wsdl:input message="tns:getCustomerDetailsSoapIn" />
      <wsdl:output message="tns:getCustomerDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetailsByAccountNumber">
      <wsdl:input message="tns:getCustomerDetailsByAccountNumberSoapIn" />
      <wsdl:output message="tns:getCustomerDetailsByAccountNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSingleTransactionDetails">
      <wsdl:input message="tns:getSingleTransactionDetailsSoapIn" />
      <wsdl:output message="tns:getSingleTransactionDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBranches">
      <wsdl:input message="tns:getBranchesSoapIn" />
      <wsdl:output message="tns:getBranchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCurrencyRates">
      <wsdl:input message="tns:getCurrencyRatesSoapIn" />
      <wsdl:output message="tns:getCurrencyRatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCheque">
      <wsdl:input message="tns:UpdateChequeSoapIn" />
      <wsdl:output message="tns:UpdateChequeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="processChequeBookRequest">
      <wsdl:input message="tns:processChequeBookRequestSoapIn" />
      <wsdl:output message="tns:processChequeBookRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="processStopChequeRequest">
      <wsdl:input message="tns:processStopChequeRequestSoapIn" />
      <wsdl:output message="tns:processStopChequeRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="processStandingInstruction">
      <wsdl:input message="tns:processStandingInstructionSoapIn" />
      <wsdl:output message="tns:processStandingInstructionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBankInfo">
      <wsdl:input message="tns:getBankInfoSoapIn" />
      <wsdl:output message="tns:getBankInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doInterTransfer">
      <wsdl:input message="tns:doInterTransferSoapIn" />
      <wsdl:output message="tns:doInterTransferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateVirtualToken">
      <wsdl:input message="tns:validateVirtualTokenSoapIn" />
      <wsdl:output message="tns:validateVirtualTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="generateVirtualToken">
      <wsdl:input message="tns:generateVirtualTokenSoapIn" />
      <wsdl:output message="tns:generateVirtualTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBillPaymentCompanies">
      <wsdl:input message="tns:getBillPaymentCompaniesSoapIn" />
      <wsdl:output message="tns:getBillPaymentCompaniesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBillTypes">
      <wsdl:input message="tns:getBillTypesSoapIn" />
      <wsdl:output message="tns:getBillTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="payBillRW">
      <wsdl:input message="tns:payBillRWSoapIn" />
      <wsdl:output message="tns:payBillRWSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RIBMiddleWare_x0020_-_x0020_Account_x0020_EnquirySoap" type="tns:RIBMiddleWare_x0020_-_x0020_Account_x0020_EnquirySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendSMS">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/sendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IbankSingleDirectCreditFundsTransfer">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/IbankSingleDirectCreditFundsTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendTransfer">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/sendTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountSummary">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getAccountSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerAcctsDetail">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getCustomerAcctsDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountSummaryByCustomerID">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getAccountSummaryByCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTermDepositByCustomerID">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getTermDepositByCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountSummaryANDTransactions">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getAccountSummaryANDTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoanInfo">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getLoanInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrencyRate">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getCurrencyRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetails">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetailsByAccountNumber">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getCustomerDetailsByAccountNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSingleTransactionDetails">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getSingleTransactionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBranches">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getBranches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrencyRates">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getCurrencyRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheque">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/UpdateCheque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processChequeBookRequest">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/processChequeBookRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processStopChequeRequest">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/processStopChequeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processStandingInstruction">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/processStandingInstruction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBankInfo">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getBankInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doInterTransfer">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/doInterTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateVirtualToken">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/validateVirtualToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateVirtualToken">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/generateVirtualToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBillPaymentCompanies">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getBillPaymentCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBillTypes">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getBillTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payBillRW">
      <soap:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/payBillRW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RIBMiddleWare_x0020_-_x0020_Account_x0020_EnquirySoap12" type="tns:RIBMiddleWare_x0020_-_x0020_Account_x0020_EnquirySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendSMS">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/sendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IbankSingleDirectCreditFundsTransfer">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/IbankSingleDirectCreditFundsTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendTransfer">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/sendTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountSummary">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getAccountSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerAcctsDetail">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getCustomerAcctsDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountSummaryByCustomerID">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getAccountSummaryByCustomerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTermDepositByCustomerID">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getTermDepositByCustomerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountSummaryANDTransactions">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getAccountSummaryANDTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoanInfo">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getLoanInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrencyRate">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getCurrencyRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetails">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetailsByAccountNumber">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getCustomerDetailsByAccountNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSingleTransactionDetails">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getSingleTransactionDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBranches">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getBranches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrencyRates">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getCurrencyRates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheque">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/UpdateCheque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processChequeBookRequest">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/processChequeBookRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processStopChequeRequest">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/processStopChequeRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processStandingInstruction">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/processStandingInstruction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBankInfo">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getBankInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doInterTransfer">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/doInterTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateVirtualToken">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/validateVirtualToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateVirtualToken">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/generateVirtualToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBillPaymentCompanies">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getBillPaymentCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBillTypes">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/getBillTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payBillRW">
      <soap12:operation soapAction="AccessBankRwanda.RIBMiddleWare.AccountEnquiry/payBillRW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RIBMiddleWare_x0020_-_x0020_Account_x0020_Enquiry">
    <wsdl:port name="RIBMiddleWare_x0020_-_x0020_Account_x0020_EnquirySoap" binding="tns:RIBMiddleWare_x0020_-_x0020_Account_x0020_EnquirySoap">
      <soap:address location="http://10.242.8.23:1001/Services/AccountEnquiry.asmx" />
    </wsdl:port>
    <wsdl:port name="RIBMiddleWare_x0020_-_x0020_Account_x0020_EnquirySoap12" binding="tns:RIBMiddleWare_x0020_-_x0020_Account_x0020_EnquirySoap12">
      <soap12:address location="http://10.242.8.23:1001/Services/AccountEnquiry.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>