Source/indigoCardIssuingApplication/Veneka.Indigo.Integration.TMB/Resources/WSDL/NanoVenekaFlexcubeWsService.xml.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.application.nano.jetsol.hu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.application.nano.jetsol.hu/" name="NanoVenekaFlexcubeWsService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.application.nano.jetsol.hu/" schemaLocation="C:\TFS\Indigo Integrations\Main\Source\Veneka.Indigo.Integration.MockServices\Veneka.Indigo.Integration.TMB\Resources\WSDL\XSD.xml"/>
</xsd:schema>
</types>
<message name="chargeFeeUpload">
<part name="parameters" element="tns:chargeFeeUpload"/>
</message>
<message name="chargeFeeUploadResponse">
<part name="parameters" element="tns:chargeFeeUploadResponse"/>
</message>
<message name="getEncryptedString">
<part name="parameters" element="tns:getEncryptedString"/>
</message>
<message name="getEncryptedStringResponse">
<part name="parameters" element="tns:getEncryptedStringResponse"/>
</message>
<message name="getDecryptedString">
<part name="parameters" element="tns:getDecryptedString"/>
</message>
<message name="getDecryptedStringResponse">
<part name="parameters" element="tns:getDecryptedStringResponse"/>
</message>
<message name="queryCustAcc">
<part name="parameters" element="tns:queryCustAcc"/>
</message>
<message name="queryCustAccResponse">
<part name="parameters" element="tns:queryCustAccResponse"/>
</message>
<message name="queryAccBal">
<part name="parameters" element="tns:queryAccBal"/>
</message>
<message name="queryAccBalResponse">
<part name="parameters" element="tns:queryAccBalResponse"/>
</message>
<portType name="NanoVenekaFlexcubeWs">
<operation name="chargeFeeUpload">
<input wsam:Action="http://ws.application.nano.jetsol.hu/NanoVenekaFlexcubeWs/chargeFeeUploadRequest" message="tns:chargeFeeUpload"/>
<output wsam:Action="http://ws.application.nano.jetsol.hu/NanoVenekaFlexcubeWs/chargeFeeUploadResponse" message="tns:chargeFeeUploadResponse"/>
</operation>
<operation name="getEncryptedString">
<input wsam:Action="http://ws.application.nano.jetsol.hu/NanoVenekaFlexcubeWs/getEncryptedStringRequest" message="tns:getEncryptedString"/>
<output wsam:Action="http://ws.application.nano.jetsol.hu/NanoVenekaFlexcubeWs/getEncryptedStringResponse" message="tns:getEncryptedStringResponse"/>
</operation>
<operation name="getDecryptedString">
<input wsam:Action="http://ws.application.nano.jetsol.hu/NanoVenekaFlexcubeWs/getDecryptedStringRequest" message="tns:getDecryptedString"/>
<output wsam:Action="http://ws.application.nano.jetsol.hu/NanoVenekaFlexcubeWs/getDecryptedStringResponse" message="tns:getDecryptedStringResponse"/>
</operation>
<operation name="queryCustAcc">
<input wsam:Action="http://ws.application.nano.jetsol.hu/NanoVenekaFlexcubeWs/queryCustAccRequest" message="tns:queryCustAcc"/>
<output wsam:Action="http://ws.application.nano.jetsol.hu/NanoVenekaFlexcubeWs/queryCustAccResponse" message="tns:queryCustAccResponse"/>
</operation>
<operation name="queryAccBal">
<input wsam:Action="http://ws.application.nano.jetsol.hu/NanoVenekaFlexcubeWs/queryAccBalRequest" message="tns:queryAccBal"/>
<output wsam:Action="http://ws.application.nano.jetsol.hu/NanoVenekaFlexcubeWs/queryAccBalResponse" message="tns:queryAccBalResponse"/>
</operation>
</portType>
<binding name="NanoVenekaFlexcubeWsPortBinding" type="tns:NanoVenekaFlexcubeWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="chargeFeeUpload">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEncryptedString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDecryptedString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="queryCustAcc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="queryAccBal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NanoVenekaFlexcubeWsService">
<port name="NanoVenekaFlexcubeWsPort" binding="tns:NanoVenekaFlexcubeWsPortBinding">
<soap:address location="http://172.16.136.11:8080/nano-tmb-veneka/NanoVenekaFlexcubeWsService"/>
</port>
</service>
</definitions>